{% extends 'base.html' %}

{% block title %} Topics Feed {% endblock %}

{% block content %}
<div class="topic-detail-wrapper">
    <article class="topic-detail">
        <header>
            <h1 class="title">{{ title }} {% if user.is_authenticated and user.id == author_id %} <span class="options">( <a id="edit-link" href="{% url 'edit_topic' id_topic=id %}">edit</a> | <a id="delete-link" href="{% url 'delete_topic' id_topic=id %}">delete</a>)</span>{% endif%}</h1>
            <div class="detail">
                <span class="detail">Posted <span class="date">{{ published_at }}</span> by <span class="author">{{ author_name }}</span></span>
            </div>
        </header>
    <span class="line"></span>
        <div class="content">
            <div>
                {{ content | safe }}
            </div>
        </div>
    </article>
    <span class="line"></span>
    <section class="upvotes">
        <div>
            <span>Do you like this Topic ?</span>
            <div class="upvote">
                <form action="{% url upvote_form_url id_topic=id %}" method="post">
                    {% csrf_token %}
                    {% if upvote_form != None %}
                        {{ upvote_form }}
                    {% endif %}
                    <button id="upvote-btn" class="{% if upvoted %} upvoted {% endif %}">Upvote</button>
                </form>
            </div>
            <span>( {{ nbr_upvotes }} )</span>
        </div>
    </section>
    <section class="comments">
        <h4 class="title">Comments ({{ nbr_comments }}) :</h4>
        <ul>
            {% for c in comments %}
            <li>
                <div class="comment">
                    <header>
                        <span class="detail"><span class="author">{{ c.author }}</span> at <span class="date">{{ c.published_at }}</span></span>
                    </header>
                    <div class="content">
                        <p> {{ c.content }} </p>
                    </div>
                    {% if c.author == user %}
                    <footer>
                        <a class="link" href="{% url 'delete_comment' id_comment=c.id %}">[delete comment]</a>
                    </footer>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
            <li>
                <div class="comment-form-wrapper">
                {% if user.is_authenticated %}
                        <form method="post" action="{% url 'submit_comment' id_topic=id %}">
                        {% csrf_token %}
                        {{ comment_form }}
                        <button id="submit-com-btn" type="submit">Publish Comment !</button>
                        <button type="button" onclick="toggleCommentBox()">Cancel</button>
                    </form>
                {% else %}
                    <a href="{% url 'user_login' %}">Please Login first</a>
                {% endif %}
                </div>
            </li>
        </ul>
        
        <button id="write-com-btn" class="write-com-btn" onclick="toggleCommentBox()">Write Comment <span>+</span></button>
    </section>
</div>
{% endblock %}

{% block js %}
<script>
    let formWrapper = document.getElementsByClassName('comment-form-wrapper')[0];
    let writeComBtn = document.getElementsByClassName('write-com-btn')[0];
    
    formWrapper.style.display = 'none';
    writeComBtn.style.display = 'block';

        const toggleCommentBox = (ev) => {
            formWrapper.style.display === 'none' ? formWrapper.style.display = 'block' : formWrapper.style.display = 'none';
            writeComBtn.style.display === 'none' ? writeComBtn.style.display = 'block' : writeComBtn.style.display = 'none';
        }

</script>
{% endblock %}

