{% extends 'base.html' %}

{% block title %} Topics Feed {% endblock %}

{% block content %}
<div class="topic-detail-wrapper">
    <article class="topic-detail">
        <header>
            <h1 class="title">{{ title }}</h1>
            <div class="detail">
                <span class="date">Posted {{ published_at }} by {{ author_name }}</span>
            </div>
        </header>
    <span class="line"></span>
        <div class="content">
            <p>
                {{ content }}
            </p>
        </div>
    </article>
    <span class="line"></span>
    <section class="upvotes">
        <div>
            <span>Do you like this Topic ?</span>
            <div class="upvote">
                <form action="{% url 'upvote_topic' id_topic=id %}" method="post">
                    {% csrf_token %}
                    {% if upvote_form != None %}
                        {{ upvote_form }}
                    {% endif %}
                    <button class="{% if upvoted %} upvoted {% endif %}">Upvote</button>
                </form>
            </div>
            <span>( {{ nbr_upvotes }} )</span>
        </div>
    </section>
    <section class="comments">
        <h4 class="title">Comments ({{ nbr_comments }}) :</h4>
        <ul>
            {% for c in comments %}
            <li>
                <div class="comment">
                    <header>
                        <span>{{ c.author }} at {{ c.published_at }}</span>
                    </header>
                    <div class="content">
                        <p> {{ c.content }} </p>
                    </div>
                </div>
            </li>
            {% endfor %}
            <li>
                <div class="comment-form-wrapper">
                {% if user.is_authenticated %}
                        <form method="post" action="{% url 'submit_comment' id_topic=id %}">
                        {% csrf_token %}
                        {{ comment_form }}
                        <button type="submit">Publish Comment !</button>
                        <button type="button" onclick="toggleCommentBox()">Cancel</button>
                    </form>
                {% else %}
                    <a href="{% url 'user_login' %}">Please Login first</a>
                {% endif %}
                </div>
            </li>
        </ul>
        
        <button class="write-com-btn" onclick="toggleCommentBox()">Write Comment <span>+</span></button>
    </section>
</div>
{% endblock %}

{% block js %}
<script>
    let formWrapper = document.getElementsByClassName('comment-form-wrapper')[0];
    let writeComBtn = document.getElementsByClassName('write-com-btn')[0];
    
    formWrapper.style.display = 'none';
    writeComBtn.style.display = 'block';

        const toggleCommentBox = (ev) => {
            formWrapper.style.display === 'none' ? formWrapper.style.display = 'block' : formWrapper.style.display = 'none';
            writeComBtn.style.display === 'none' ? writeComBtn.style.display = 'block' : writeComBtn.style.display = 'none';
        }

</script>
{% endblock %}

