{% extends 'base.html' %}

{% block title %} {{ action }} Topic {% endblock %}
{% block content %}

<h1>{{ action }} Topic</h1>
<div>
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
        <script>tinymce.init({ selector:'textarea' });</script> 
    <form class="topic-form" method="post">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="field">
                <label>{{ field.label_tag }}</label>
                {{ field }}
            </div>
        {% endfor %}
            <div class="field">
                <label></label>
                <button id="write-topic-btn" type="submit">Save</button>
            </li>
    </form>
</div>
{% endblock %}