{% extends 'base.html' %}

{% block title %} Topics Feed {% endblock %}

{% block content %}

<div class="topics-list-wrapper" >
<div class="sort-filter-wrapper">
        <label>Most Recent</label>
        <input type="radio" name="sort" value="recent" class="sort-filter-radio"/>
        <label>Most Rated</label>
        <input type="radio" name="sort" value="rated" class="sort-filter-radio"/>
</div>
<div id="topics-list" class="topics-list">
    <span class="line"></span>
</div>
<div class="pagination">
    <button id="more-btn" class="more-btn" type="button" onclick="loadTopics()">More</button>
</div>
<input id="page-count" type="hidden" value="{{page_count}}"/>
<input id="sort-type" type="hidden" value="{{sort_type}}"/>
</div>
{% endblock %}

{% block js %}

    <script>
        let page = 0;
        let pageCount = parseInt(document.getElementById('page-count').value);
        let sortType = document.getElementById('sort-type').value;

        let btn = document.getElementById('more-btn');
        let sortRadios = document.getElementsByClassName('sort-filter-radio');
        let topicsDiv = document.getElementsByClassName('topics-list')[0];

        const createArticle = ( id, title, slug, content, time, nbrUpvotes, nbrComments ) => {
            let wrapper = document.createElement('div')
            wrapper.classList.add('topic-block');

            let article = document.createElement('article');

            let header  = document.createElement('h3');
            header.classList.add('title');
            let link = document.createElement('a');
            link.classList.add('link');
            link.classList.add('article-link');
            link.innerHTML = title;
            link.setAttribute('href', '/topics/' + slug);
            header.appendChild(link);

            let detail = document.createElement('span');
            detail.classList.add('detail');
            detail.innerHTML = `( ${nbrComments} comment${nbrComments > 1 ? 's' : ''}, ${nbrUpvotes} upvote${nbrUpvotes > 1 ? 's' : ''} )`;

            let contentDiv = document.createElement('div');
            contentDiv.innerHTML = content.length > 200 ? (content.substring(0,200) + '...')  : content;

            let footer = document.createElement('div');
            let readMore = document.createElement('a');
            readMore.innerHTML = 'Read More';
            readMore.setAttribute('href', '/topics/'+slug);
            footer.appendChild(readMore);
    
            let line = document.createElement('span');
            line.classList.add('line');

            article.appendChild(header);
            article.appendChild(detail);
            article.appendChild(contentDiv);
            article.appendChild(footer);
            
            wrapper.appendChild(article);
            wrapper.appendChild(line);
            
            topicsDiv.appendChild(wrapper);
        };

        const loadTopics = () => {
            page += 1;
            if (page > pageCount) {
                return;
            }
            //alert ('loading ' + page);
            let xhr = new XMLHttpRequest();
            xhr.onload = () => {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        let resp = JSON.parse(xhr.responseText);
                        console.log(resp);
                        for (let el of resp) {
                            createArticle(el.id, el.title, el.slug, el.content, el.published_at, el.nbr_upvotes, el.nbr_comments);
                        }
                        btn.classList.remove('loading');
                        btn.innerHTML = 'More';
                        if ( page === pageCount ) {
                            document.getElementsByClassName('pagination')[0].style.display = 'none';
                        }
                    }
                }
            }
            xhr.open('get','/topics?page='+page+'&sort='+sortType, true)
            xhr.send(null);
            btn.classList.add('loading');
            btn.innerHTML = 'Loading ...';
        };


        const sortChangeHandler = (ev) => {
            if (ev.target.value !== sortType) {
                //alert('Resorting ...');
                while(topicsDiv.firstChild) {
                    topicsDiv.removeChild(topicsDiv.firstChild);
                }
                sortType = ev.target.value;
                page = 0;
                loadTopics();
            }
        };

        for (let radio of sortRadios) {
            radio.addEventListener('change', sortChangeHandler);
            if (radio.value === sortType) {
                radio.checked = true;
            }
        }



        loadTopics();

    </script>

{% endblock %}