{% extends 'base.html' %}

{% block title %} Topics Feed {% endblock %}

{% block content %}

<div class="topics-list">
    <span class="line"></span>
{% for t in topics %}
    <div class="topic-block">
        <article>
            <h3 class="title"><a class="link" href="{% url 'detail_topic' slug=t.slug %}">{{ t.title }} ({{ t.comments.count }})</a></h3>
            <p> {{ t.content }}</p>
            <div>
                <a href="{% url 'detail_topic' slug=t.slug %}">Read More</a>
            </div>
        </article>
        <span class="line"></span>
    </div>
{% endfor %}

    <div class="pagination">
        <button class="load-btn" type="button" onclick="loadTopics()">More</button>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    
    let pageNum = 1;

    const loadTopics = () =>{
        const url = '/topics?';
        pageNum += 1
        let params = `page=${pageNum}`;
        let req = new XMLHttpRequest();
        req.onreadystatechange = () => {
            if (req.readyState === 4) {
                alert (req.responseText);
            }
        };
        req.open('GET', `${url}?${params}`);
        req.send()
    };

</script>
{% endblock %}