{% load staticfiles %}
<!DOCTYPE>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link href="{% static 'topics/styles/main.css' %}" rel="stylesheet">
    </head>
    <body>
        <header class="base-header">
            <div class="logo">
                <a class="link" href="{% url 'site_index' %}">Django News !</a>
            </div>
            <div id="profile-menu" class="profile">
                {% if user.is_authenticated %}
                    <span id="welcome-menu" class="welcome">Welcome <span class="username">{{ user.get_username }} !</span> </span>
                    <div id="sub-menu" class="sub-menu">
                        <ul>
                            <li>
                                <a class="link" href="#">Profile</a>
                            </li>
                            <li>
                                <a id="write-topic-link" class="link" href="{% url 'add_topic' %}">Write a Topic</a>
                            </li>
                            <li>
                                <a id="logout-link" class="link" href="{% url 'user_logout' %}">Logout</a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <a id="login-link" class="link" href="{% url 'user_login' %}">Login</a>
                {% endif %}
            </div>
        </header>
        <main class="base-main">
            {% block content %}
            {% endblock %}
        </main>

        <script>
            // add some interaction to menu
    
            const menu = document.getElementById('profile-menu');
            const subMenu = document.getElementById('sub-menu');
            let subMenuIsHidden = true;
            menu.addEventListener('mouseover', (ev) => {
                subMenu.style.display = 'block';
            });
            menu.addEventListener('mouseout', (ev) => {
                if (subMenuIsHidden) {
                    subMenu.style.display = 'none';
                }
            });
            menu.addEventListener('click', (ev) => {
                if (subMenuIsHidden) {
                    subMenu.style.display = 'block';
                    subMenuIsHidden = false;
                } else {
                    subMenu.style.display = 'none';
                    subMenuIsHidden = true;
                }
            })
 
        </script>
        {% block js %}
        {% endblock %}
    </body>
</html>