body {
    background-color: white;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

header.base-header {
    height: 60px;
    margin: 10px 100px 0px 100px;
    border: 1px solid black;
}

header.base-header .logo {
    display: inline-block;
    float: left;
    font-size: 30px;
    padding: 10px;
    max-width: 30%;
}

header.base-header .logo .link {
    color: orange;
}

header.base-header .messages {
    display: inline-block;
    padding: 20px;
    width: 40%;
}
header.base-header .messages .success {
    color: green;
}
header.base-header .messages .error {
    color: red;
}

header.base-header .profile {
    position: relative;
    float: right;
    margin: 20px 10px 0px 0px;
    max-width: 30%;
}

header.base-header .profile .sub-menu {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    margin-top: 5px;
    display: none;
    top: 15px;
    right: 0px;
}

header.base-header .profile .welcome {
    cursor: pointer;
    font-size: 17px;
}

/*
header.base-header .profile:hover .sub-menu {
    display: block;
}
*/

header.base-header .profile .welcome .username {
    color: #5a71be;
}

header.base-header .profile .sub-menu li {
    border-bottom: 1px solid black;
}

header.base-header .profile .sub-menu li:hover {
    background-color: #f6efee;
}

header.base-header .profile .link {
    color: gray;
    display: block;
    padding: 6px 10px 6px 10px;
}

main.base-main {
    margin-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.profile .welcome .username {
    color: red;
}

.profile .stats-table {
    border: 1px solid black;
    text-align: center;
}
.profile .stats-table th, .profile .stats-table td {
    border: 1px solid black;
    padding: 15px;
}

.topics-list .sort-filter-wrapper .sort-filter-radio {
    cursor: pointer;
} 

.topics-list .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}

.topics-list .topic-block {
    margin: 20px;
}

.topics-list .topic-block .title {
    color: #2977db;
    font-size: 30px;
    text-decoration: underline;
    margin: 5px;
}
.topics-list .topic-block .detail {
    margin-left: 40px;
}

.topics-list .topic-block .link {
    text-decoration: none;
    color: inherit;
}

.topics-list-wrapper .pagination {
    width: 100%;
    height: 50px;
    text-align: center;
}


.topics-list-wrapper .pagination .more-btn {
    border: none;
    background-color: #f5eeee;
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: block;
    color: #5a72bd;
}
.topics-list-wrapper .pagination .more-btn:hover {
    background-color: #f5c4c4;
    border: 1px solid black;
}

.topics-list-wrapper .pagination .more-btn.loading {
    background-color: #ff0000;
}

.topic-detail-wrapper .line {
    display: block;
    width: 50%;
    height: 1px;
    background-color: black;
    margin-top: 10px;
}



.topic-detail-wrapper .topic-detail header .title {
    margin-bottom: 6px;
}

.topic-detail-wrapper .topic-detail header .title .options {
    font-size: 14px;
}

.topic-detail header {
    padding: 20px 5px;
}

 header .detail{
    display: block;
    font-style: italic;
}
header .detail .author, .detail .date {
    color: green;
}

.topic-detail-wrapper .topic-detail .content {
    margin-top: 35px;
    font-size: 18px;
}

.topic-detail-wrapper .comments .title {
    font-size: 20px;
    margin: 5px;
}

.topic-detail-wrapper .upvotes {
    margin-top: 20px;
}

.topic-detail-wrapper .upvotes .upvote {
    display: inline-block;
}

.topic-detail-wrapper .upvotes .upvote form {
    margin-bottom: 0;
}

.topic-detail-wrapper .upvotes .upvote button {
    border: none;
    border-radius: 50%;
    font-size: 0;
    width: 30px;
    height: 30px;
    background-image:url("../images/upvote.png");
    background-size: contain;
    background-color: transparent;
}

.topic-detail-wrapper .upvotes .upvote button.upvoted {
    background-color: orange;
    border: 2px solid blue;
    width: 31px;
    height: 31px;
}

.topic-detail-wrapper .upvotes .upvote button:hover {
    background-color: orange;
    border: 3px solid blue;
}

.topic-detail-wrapper .comments ul {
    list-style-type: none;
}

.topic-detail-wrapper .comments .comment {
    border: 1px solid black;
    margin: 5px;
    padding: 4px;
}

.topic-detail-wrapper .comments .comment .content {
    margin-left: 50px;
}

.topic-detail-wrapper .comments .comment footer {
    height: 20px;
}

.topic-detail-wrapper .comments .comment footer .link {
    float: right;
    color: red;
}

.topic-detail-wrapper .comments .comment-form-wrapper textarea {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
}

.topic-detail-wrapper .comments .write-com-btn {
    display: block;
    border: none;
    width: 150px;
    height: 40px;
    border: 1px solid black;
    background-color: #cee3f3;
    font-size: 13px;
}

.topic-detail-wrapper .comments .write-com-btn span {
    font-size: 18px;
}

.topic-form {
    padding:20px;
}


.topic-form .field { padding: 4px; margin:1px;  }

.topic-form .field label { display:inline-block; width:120px;  }

.topic-form .field input { display:inline-block;  }

.login-wrapper {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    padding: 5px
}

.login-form {
    padding: 10px;
    display: inline-block;
}

.login-wrapper .social {
    background-color: #3c589a;
    height: 30px;
    padding-top: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.login-wrapper .social .link {
    color: white;
}

.login-form table tr {
    display: block;
    margin: 5px 0;
}

.login-wrapper .forgot-pass {
    font-size: 13px;
    margin-bottom: 5px;
    text-decoration: underline;
}