{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="login-wrapper">
        <form id="login-form" role="form" method="post" action="{% url 'user_login' %}" class="login-form">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button id="login-btn" type="submit">Sign in</button>
        </form>
        <p>or</p>
        <div class="social">
            <a class="link" href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
        </div>
</div>
{% endblock %}